<section class="error py-16">
    <div class="container mx-auto text-center">
        <h1 class="font-bold mb-2">Page not found. 😕</h1>
        <p class="text-gray-500 text-lg mb-12">Uh-oh! Looks like the page you are trying to access,<br>
             doesn't exist. Please start afresh.</p>
        <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="empty-cart">
        <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go Home</a>
    </div>
</section>